* {
    background-color: #FFF5E6;
    box-sizing: border-box;
}

/* Web Navigation bar */

#nav_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding-right: 5%;
    transition: top 0.3s;
}

#logo img {
    height: 12.5%;
    width: 12.5%;
    /*object-fit: contain; */
    margin-right: auto;
    margin-left: 5%;
    margin-top: 0;
}

#nav_bar li a {
    font-family: 'Poiret One', cursive;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 5px;
    margin: 15px;
    font-size: 18px;
    text-decoration: none;
    color: #414141;
}

/* Mobile Navigation */

#mobile_nav {
    visibility: hidden;
    display: block;
    background-color: whitesmoke;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    max-width: 100%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: top 0.3s;
}

#mobile_nav #links {
    display: none;
}

#mobile_nav li a {
    display: block;
    background-color: whitesmoke;
    text-decoration: none;
    color: #414141;
    text-align: start;
    font-family: 'Poiret One', cursive;
    padding: 5%;
    width: 100%;
}

#mobile_nav li a span {
    background-color: whitesmoke;
    font-size: 1.4rem;
    font-family: 'Beau Rivage', cursive;
    padding-left: 34%;
    max-width: 100%;
}

#mobile_nav li a.icon {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa {
    background: whitesmoke;
}

/* Title of page */

h1, h2 {
    display: block;
    text-align: center;
    width: auto;
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
}

header h1 {
    margin: 160px 0px 75px;
}

/* About the gallery */

.about {
    display: flex;
    flex-wrap: wrap;
    border: 2px double black;
    padding-left: 2%;
    padding-right: 2%;
}

.about, .contact, p {
    font-family: 'Poiret One', cursive;
    font-size: 1rem; 
    background-color: whitesmoke;
    text-align: center;
    line-height: 1.5;
    margin: 5%;
}

/* Find out more button */

.about .contact {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1.75rem;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*create a underline animation when hovering over the link*/

.about a::after, #nav_bar a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: transform 0.4s ease-out;
}

.about a:hover:after, #nav_bar a:hover:after {
    transform: scaleX(1);
}

/* Main section holding the photographs */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-top: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

img {
    width: 100%;
    vertical-align: middle;
    margin-top: 8px;
}

/* Prices */

#pricing, .notes {
    display: flex;
    justify-content: center;
}

#pricing, .package_intro p, .packages p, .sports_packages p, .notes {
    background-color: #FFF5E6;
    line-height: 1.5;
    font-family: 'Poiret One', cursive;
    font-size: 1rem;
    padding: 0;
}

.package_intro p {
    margin: 0;  
}

#pricing ul, .notes ul {
    padding: 0;
}

.packages {
    max-width: 50%;
    list-style-position: inside;
    text-align: center;
}


.sports_packages p {
    margin-top: 0;
    max-width: 100%;
    margin-bottom: 10%;
}

.sub_title {
    font-weight: 400;
}

.package1 {
    margin-left: 5%;
}

.package2 {
    margin-right: 5%;
}

.notes {
    display: block;
    text-align: center;
    margin-bottom: 5%;
    padding: 0;
}

.notes li {
    list-style-type: none;
}


/* footer */

#footer {
    display: flex;
    flex-direction: column;
    background-color: #7d807e;
    max-width: 100%;
}

#footer h3 {
    font-family:'Poiret One', cursive;
    font-size: 2rem;
    text-align: center;
    background-color: inherit;
    color: white;
}

#footer p {
    font-family: 'Poiret One', cursive;
}

#footer p, #footer a {
    background-color: inherit;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
    margin-top: 0;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7d807e;
    margin-bottom: 10px
}

.socials a {
    height: 5%;
    width: 5%;
    object-fit: contain;
    margin: 10px;
}

.socials img {
    background-color: #7d807e;
}

/* Viewing on mobiles */

@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
} 

@media screen and (max-width: 600px) {
    #nav_bar {
        visibility: hidden;
    }

    #mobile_nav {
        visibility: visible;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    #pricing {
        display: grid;
    }

    #package1 {
        grid-area: 1 / 1 / span 1 / span 1;
        justify-self: center;
    }

    #package2 {
        grid-area: 2 / 1 / span 1 / span 1;
        justify-self: center;
    }

    #package3 {
        grid-area: 3 / 1 / span 1 / span 1;
        justify-self: center;
    }

}